<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
 
 <mvc:default-servlet-handler/>
 <mvc:annotation-driven />
 
 <context:component-scan base-package="br.com.cofrinho" /> 

  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">    
    <property name="prefix" value="/WEB-INF/views/" />   
    <property name="suffix" value=".jsp" />
  </bean>
  
<!--   <bean id="messageSource" -->
<!--       class="org.springframework.context.support.ReloadableResourceBundleMessageSource"> -->
<!--       <property name="basename" value="classpath:messages.properties" /> -->
<!--       <property name="defaultEncoding" value="UTF-8" /> -->
<!--   </bean> -->
  
<!--   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" -->
<!-- 	  p:location="/WEB-INF/jdbc.properties" /> -->

<!--    <bean id="dataSource" -->
<!--         class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" -->
<!--         p:driverClassName="${db.driver}" -->
<!--         p:url="${db.url}" p:username="${db.username}" -->
<!--         p:password="${db.password}" /> -->
  
<!--   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> -->
<!--         <property name="dataSource" ref="dataSource"></property> -->
<!--         <property name="configLocation"> -->
<!--             <value>classpath:hibernate.cfg.xml</value> -->
<!--         </property> -->
<!--         <property name="configurationClass"> -->
<!--             <value>org.hibernate.cfg.AnnotationConfiguration</value> -->
<!--         </property> -->
<!--         <property name="hibernateProperties"> -->
<!-- 		      <props> -->
<!-- 		          <prop key="hibernate.dialect">${hibernate.dialect}</prop> -->
<!-- 		          <prop key="hibernate.show_sql">${hibernate.show_sql}</prop> -->
<!-- 		      </props> -->
<!-- 		 </property> -->
<!--     </bean> -->
   
<!--  <bean id="hibernateTemplateBean" class="org.springframework.orm.hibernate3.HibernateTemplate"> -->
<!--     <property name="sessionFactory" ref="mySessionFactory"></property> -->
<!--  </bean> -->
<!--  <bean id="authenticateServiceBean" class="com.pointerunits.service.AuthticateService"> -->
<!--     <property name="hibernateTemplate" ref="hibernateTemplateBean"></property> -->
<!--  </bean>  -->
  
  
<!--  <tx:annotation-driven /> -->
<!--  <bean id="transactionManager" -->
<!--      class="org.springframework.orm.hibernate3.HibernateTransactionManager"> -->
<!--      <property name="sessionFactory" ref="sessionFactory" /> -->
<!--  </bean> -->
 
 <mvc:resources mapping="/resources/**" location="/resources/" />
</beans>